/** reset **/
html, body {

  margin  : 0;
  padding : 0;
  height  : 100%;
}


body {

  background-color: #222;
}


.transition {

  -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
       -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
}


.container {

  height: 100%;

  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;

  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
          justify-content: center;


  text-align: center;
}



.panel {

  height        : 80%;
  width         : 80%;
  background    : #eee;

  margin        : 0 auto;

  padding       : 0 30px;

  border        : 1px solid black;
  border-radius : 10px;
}


